<ion-view view-title="">
    <ion-content class="welcome">
        <div class="profile-content">
            <div class="row">
                <div class="col col-50">
                    <div class="pro-img"><img class="img-user" src="img/images.png">
                    </div>
                </div>
                <div class="col col-50">
                    <div class="pro-name">
                        <h3>Rossy Loard</h3>
                        <p>Guard of the night</p>
                    </div>
                </div>

            </div>



        </div>
        <div class="det-btn">
            <div class="row">
                <div class="col">
                    <div class="tabs-left tabs-icon-only">
                        <a class="tab-item active" ng-click="tabchange('profile')">
                            <i class="icon ion-person"></i>
                            <span class="badge badge-assertive">3</span>
                        </a>
                        <a class="tab-item">
                            <i class="icon ion-iphone"></i>
                        </a>
                        <a class="tab-item active" ng-click="tabchange('message')">
                            <i class="icon ion-email"></i>
                            <span class="badge badge-assertive">1</span>
                        </a>
                        <a class="tab-item">
                            <i class="icon ion-ios7-locked"></i>
                        </a>
                        <a class="tab-item">
                            <i class="icon ion-camera"></i>
                        </a>
                        <a class="tab-item">
                            <i class="icon ion-person-stalker"></i>
                        </a>
                        <a class="tab-item">
                            <i class="icon ion-settings"></i>
                        </a>
                    </div>
                </div>
                <div class="col col-75">
                    <div class="det-frnd" ng-show="tab=='profile'">
                        <div class="list">

                            <a class="item item-avatar" href="#">
                                <img src="img/profile/profile.png">
                                <h3>Venkman</h3>
                                <br>
                                <p>I'm a scientist.</p>
                                <button class="button button-small button-assertive">
                                    Decline
                                </button>
                            </a>

                            <a class="item item-avatar" href="#">
                                <img src="img/profile/profile2.png">
                                <h3>Venkman</h3>
                                <br>
                                <p>I'm a scientist.</p>
                                <button class="button button-small button-assertive">
                                    Decline
                                </button>
                            </a>

                            <a class="item item-avatar" href="#">
                                <img src="img/profile/profile3.png">
                                <h3>Venkman</h3>
                                <br>
                                <p>I'm a scientist.</p>
                                <button class="button button-small button-assertive">
                                    Decline
                                </button>
                            </a>



                        </div>
                    </div>
                    <div class="set-mess" ng-show="tab=='message'" >



                        <div class="det-frnd">
                            <div class="list">

                                <a class="item item-avatar" href="#">
                                    <img src="img/profile/profile4.png">
                                    <h3>Joffrey Baratheon</h3>
                                    <br>
                                    <p>Donec sollicitudin molestie male id orci convallis...</p>
                                </a>

                                <a class="item item-avatar" href="#">
                                    <img src="img/profile/profile2.png">
                                    <h3>Hodor</h3>
                                    <br>
                                    <p>HODOR!!!...</p>

                                </a>

                                <a class="item item-avatar" href="#">
                                    <img src="img/profile/profile3.png">
                                    <h3>Venkman</h3>
                                    <br>
                                    <p>Malesuada ac diam sit ameti...</p>
                                    <span class="badge badge-assertive">3</span>
                                </a>
                                <a class="item item-avatar" href="#">
                                    <img src="img/profile/profile6.png">
                                    <h3>Khaleesi</h3>
                                    <br>
                                    <p>Diam sit amet quam vehicu...</p>
                                </a>

                                <a class="item item-avatar" href="#">
                                    <img src="img/profile/profile5.png">
                                    <h3>Lady Sansa</h3>
                                    <br>
                                    <p>Pellentesque in ipsum id orci porta dapibus...</p>

                                </a>

                                <a class="item item-avatar" href="#">
                                    <img src="img/profile/profile7.png">
                                    <h3>Rocky</h3>
                                    <br>
                                    <p>Dones estu ori nes...</p>
                                    <span class="badge badge-assertive">1</span>
                                </a>
                                <a class="item item-avatar" href="#">
                                    <img src="img/profile/profile8.png">
                                    <h3>Arya Stark</h3>
                                    <br>
                                    <p>Pellentesque in ipsum id orci porta dapibus...</p>

                                </a>


                            </div>
                        </div>


                    </div>

                </div>
            </div>

        </div>
    </ion-content>
</ion-view>