<ion-view view-title="">
    <ion-content class="welcome">
       <div class="back-set">
           <a href="#/signin" class="button icon-left ion-chevron-left button-clear button-dark">Back</a>
       </div>
        <div class="profile-content">
           <div class="row">
  <div class="col col-50"><div class="pro-img"><img class="img-user" src="img/images.png"></div></div>
  <div class="col col-50"><div class="pro-name"><a href="#/detail"> <h3>Rossy Loard</h3></a><p>Guard of the night</p></div></div>

</div>
            
            
           
        </div>
        <div class="pro-btn">
<div class="list">

  <a class="item item-icon-left" href="#">
    <i class="icon ion-person"></i>
    Freinds
     <span class="badge badge-assertive">0</span>
  </a>

  <a class="item item-icon-left " href="#">
    <i class="icon ion-iphone"></i>
    Notification
    
  </a>

  <a class="item item-icon-left" href="#">
    <i class="icon ion-email"></i>
  Messages
    <span class="badge badge-assertive">0</span>
  </a>

  <a class="item item-icon-left " href="#">
    <i class="icon ion-ios7-locked"></i>
   Privacy
   
  </a>
  
  <a class="item item-icon-left" href="#">
    <i class="icon ion-camera"></i>
    Pictures
  </a>
  <a class="item item-icon-left" href="#">
    <i class="icon ion-person-stalker"></i>
    Groups
   
  </a>
  
  <a class="item item-icon-left" href="#">
    <i class="icon ion-settings"></i>
  Settings
   
  </a>

</div>
        </div>
    </ion-content>
</ion-view>