<ion-view view-title="">
    <ion-content class="welcome">
       <div class="back-set">
           <a href="#/signin" class="button icon-left ion-chevron-left button-clear button-dark">Back</a>
       </div>
        <div class="user-content">
            <img class="img-user" src="img/images.png">
            
            <p>tap to upload</p>
        </div>
        <div class="user-btn">
<div class="row">
  <div class="col set-user"><span class="ion-person" title="profile" aria-hidden="true"></div>
  <div class="col col-75"><label class="item item-input set-user">
    <input type="text" placeholder="Jhon Snow">
  </label></div>
</div>
            <div class="row">
  <div class="col set-lock"><span class="ion-ios7-locked" title="profile" aria-hidden="true"></div>
  <div class="col col-75"><label class="item item-input set-locks">
    <input type="password" placeholder="Password">
  </label></div>
</div>
            <div class="row">
  <div class="col set-email"><span class="ion-email" title="profile" aria-hidden="true"></div>
  <div class="col col-75"><label class="item item-input set-emails">
    <input type="email" placeholder="jhon@mail.com">
  </label></div>
</div>
            <div class="row">
  <div class="col set-num"><span class="ion-iphone" title="profile" aria-hidden="true"></div>
  <div class="col col-75"><label class="item item-input set-nums">
    <input type="number" placeholder="+91-8787878787">
  </label></div>
</div>

            <a href="#/profile"><button class="button button-block button-positive  ">
                Create Account
            </button></a>
        </div>
    </ion-content>
</ion-view>